body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
#nav-items > ul {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;

  align-items: center;
}
ul > li {
  list-style: none;
  display: flex;
  align-items: center;
}
.card {
  max-width: 30%;
  cursor: pointer;
  height: auto;
  padding: 1rem;
  background-color: whitesmoke; /* Soft gray */
  margin-top: 2rem;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transitions */
}

.card:hover {
  transform: translateY(-0.5rem); /* Slight lift on hover */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
  background-color: lightgray;
}

.card h3 {
  color: #333; /* Darker text */
  margin-bottom: 0.5rem; /* Spacing between title and course */
}

.card h4 {
  color: #666; /* Softer text */
  margin-bottom: 1rem; /* Spacing between courses */
}

.card img {
  width: 100%;
}
.search {
  padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cart-img {
  width: 30px;
  height: 30px;
}
.title {
  font-size: larger;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: white;
}
#course-btn {
  background-color: #4caf50; /* Green */
  color: #fff; /* White text */
  padding: 10px 20px; /* Spacing */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Smooth transition */
}

#course-btn:hover {
  background-color: darkgreen; /* Darker green on hover */
}
.info-headline {
  font-weight: 300;
}
